@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-light: #FAFAFA;
    --bg-dark: #0F0F0F;
    --bg-blue: #5693FA;
    --bg-yell: #F7C616;
    font-family: 'Poppins', sans-serif;
}

h1,
h2,
.form-container,
form,
.img-container {
    display: flex;
}

form,
.img-container {
    border-radius: 2em;
    background-color: var(--bg-blue);
    box-shadow: var(--bg-yell) 0px 0px 0px 6px;
}

h1,
h2 {
    margin-top: 3vh;
    justify-content: center;
}

.form-container {
    margin: 8vh auto;
    width: 100vw;
}

form {
    flex-direction: column;
    width: 45vw;
    padding: 2em;
    margin: auto;
    line-height: 2em;
}

input {
    padding: .6em;
    width: 100%;
    outline: none;
}

input,
button {
    border-radius: 1em;
    border: none;
}

label,
button {
    font-weight: bold;
}

button {
    background-color: var(--bg-yell);
    padding: .6em;
    width: 60%;
    margin: 2em auto 0;
}

/* code snippet of the homepage */
.img-container {
    margin: 14vh auto 0;
    width: 26%;
    justify-content: center;
    overflow: hidden;
}

.img-container img {
    width: 90%;
}

/* display : a little more than half the screen of a macbook air*/
@media screen and (max-width : 1000px) {
    button {
        width: 100%;
    }
}

/* display mobile */
@media screen and (max-width : 500px) {
    form {
        width: 60vw;
    }
}